<div>
    <h1>CALCULADORA</h1>
    <app-linha>
        <app-visor></app-visor>
    </app-linha>
    <app-linha>
        <app-botao [valueButton] = "'7'"></app-botao>
        <app-botao [valueButton] = "'8'"></app-botao>
        <app-botao [valueButton] = "'9'"></app-botao>
        <app-botao [valueButton] = "'+'"></app-botao>
    </app-linha>
    <app-linha>
        <app-botao [valueButton] = "'4'"></app-botao>
        <app-botao [valueButton] = "'5'"></app-botao>
        <app-botao [valueButton] = "'6'"></app-botao>
        <app-botao [valueButton] = "'-'"></app-botao>
    </app-linha>
    <app-linha>
        <app-botao [valueButton] = "'1'"></app-botao>
        <app-botao [valueButton] = "'2'"></app-botao>
        <app-botao [valueButton] = "'3'"></app-botao>
        <app-botao [valueButton] = "'*'"></app-botao>
    </app-linha>
    <app-linha>
        <app-botao [valueButton] = "'0'"></app-botao>
        <app-botao [valueButton] = "'.'"></app-botao>
        <app-botao [valueButton] = "'='"></app-botao>
        <app-botao [valueButton] = "'/'"></app-botao>
    </app-linha>
</div>