<div>
    <h1>CALCULADORA</h1>
    <app-linha>
        <app-visor [valueOperation]="calculo"></app-visor>
    </app-linha>
    <app-linha>
        <app-botao [valueButton]="'7'" (onClick)="receberValor($event)"></app-botao>
        <app-botao [valueButton]="'8'" (onClick)="receberValor($event)"></app-botao>
        <app-botao [valueButton]="'9'" (onClick)="receberValor($event)"></app-botao>
        <app-botao [valueButton]="'+'" (onClick)="receberValor($event)"></app-botao>
    </app-linha>
    <app-linha>
        <app-botao [valueButton]="'4'" (onClick)="receberValor($event)"></app-botao>
        <app-botao [valueButton]="'5'" (onClick)="receberValor($event)"></app-botao>
        <app-botao [valueButton]="'6'" (onClick)="receberValor($event)"></app-botao>
        <app-botao [valueButton]="'-'" (onClick)="receberValor($event)"></app-botao>
    </app-linha>
    <app-linha>
        <app-botao [valueButton]="'1'" (onClick)="receberValor($event)"></app-botao>
        <app-botao [valueButton]="'2'" (onClick)="receberValor($event)"></app-botao>
        <app-botao [valueButton]="'3'" (onClick)="receberValor($event)"></app-botao>
        <app-botao [valueButton]="'*'" (onClick)="receberValor($event)"></app-botao>
    </app-linha>
    <app-linha>
        <app-botao [valueButton]="'0'" (onClick)="receberValor($event)"></app-botao>
        <app-botao [valueButton]="'.'" (onClick)="receberValor($event)"></app-botao>
        <app-botao [valueButton]="'='" (click)="resultado()"></app-botao>
        <app-botao [valueButton]="'/'" (onClick)="receberValor($event)"></app-botao>
        <app-botao [valueButton]="'<'" (click)="limparTudo()"></app-botao>
    </app-linha>
</div>